<div id="confirmMe-wrapper">
    <div ng-controller="ConfirmMeController">
        <div ng-repeat="conf in confirmations" id="confirme-{{ conf.id }}" class="confirme-popup" role="alert">
            <div class="confirme-popup-container">
                <p>{{ conf.message }}</p>
                <ul class="confirme-buttons list-inline m-n p-b p-l p-r">
                    <li><a class="btn btn-md rounded w-xs pull-right confirme-popup-confirm" ng-click="confirm(conf.id)">Yes</a></li>
                    <li><a class="btn btn-md rounded w-xs pull-left confirme-popup-cancel" ng-click="cancel(conf.id)">No</a></li>
                </ul>
                <a class="confirme-popup-close" ng-click="close(conf.id)"></a>
            </div>
        </div>
    </div>
</div>
